* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #F3F4F6;
}

input, textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Manrope', sans-serif;
  background-color: transparent;
  color: #A3A6AE;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
}

.syukur-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  background-color: #242345;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.syukur-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.syukur-app__body h2 {
  font-family: Montserrat;
  letter-spacing: 0.3em;
  margin: 16px 0;
  padding: 80px 0px 20px 5px;
  color: #53526B;
}

.syukur-app__body h3 {
  font-family: Montserrat;
  letter-spacing: 0.3em;
  margin: 16px 0;
  color: #A3A6AE;
}

.syukur-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 3px 20px 0 rgba(0, 0, 0, 0.05);
}

.syukur-input input, .syukur-input textarea {
  display: block;
  border: none;
  width: 100%;
}

.syukur-input__title {
  font-family: Manrope;
  font-weight: 400;
  color: #A3A6AE;
}

.syukur-input__title__char-limit {
  font-size: 12px;
  text-align: right;
  margin-right: 2px;
  color: #aaa;
}

.syukur-input__body {
  min-height: 175px;
}

.syukur-input button {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: 'Manrope', sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  background-color: #1FDC6B;
  font-weight: bold;
  cursor: pointer;
}

.syukur-input button:hover {
  background-color: #19AE55;
}
.syukur-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.syukur-list__empty-message {
  font-size: 12px;
  text-align: center;
  color: #aaa;
}

.syukur-item {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.syukur-item__content {
  margin: 8px;
  padding: 12px;
  flex: 1;
}

.syukur-item__title {
  font-size: 21px;
  color: #242345;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.syukur-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.syukur-item__body {
  margin: 22px 0;
  font-size: 13.5px;
  line-height: 25px;
  color: #53526B;
}

.syukur-item__action {
  display: flex;
}

.syukur-item__delete-button,.syukur-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.syukur-search {
  background-color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  padding: 6px 0;
  border-radius: 8px;
}

.syukur-search__form {
  border: none;
}

.syukur-search form input {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 50px;
  width: calc(100% - 58px);
}

.syukur-search__search {
  margin-left: 5px;
  font-size: 13.5px;
}

.submit {
  background-color: #ffffff;
  border: none;
  width: 40px;
}

@media only screen and (min-width: 500px) {
  .syukur-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .syukur-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .syukur-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .syukur-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
